<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">        
    </head>
    <body>
        <noscript>Warning: This site will not function correctly without javascript enabled.</noscript>

        {{{body}}}
        
    </body>
</html>