<link rel="stylesheet" type="text/css" href="/style/form.css">

<script>
    document.cookie = "session=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
</script>

<div class="container">
    You've logged out! It's probably a good idea to close all your open tabs.
    <br /><br />
    Click <a href="/login">here</a> to login again.
</div>