<script src="/assets/script/form.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/style/form.css">

<div class="form container">
    <form javascript_action="/auth/account" method="post">
        <h1 class="left">Account Settings</h1>
        <section id="notifications" class="left"></section>

        <label for="email" hidden>Email Address</label>
        <input class="field center" name="email" placeholder="Email Address" type="email" autocomplete="email" value="{{email}}">

        <br />

        <label for="username" hidden>Username</label>
        <input class="field center" name="username" placeholder="Username" type="username" autocomplete="username" value="{{username}}">

        <br />

        <label for="new-password" hidden>New Password</label></td>
        <input class="field left" name="new-password" type="password" placeholder="New Password" autocomplete="new-password">
        <button class="toggle" id="toggle-psk" type="button" onclick="toggle_password()" aria-label="Show password." hidden>Show password</button>

        <br />

        <label for="confirm-password" hidden>Confirm Password</label></td>
        <input class="field left ignored" name="confirm-password" type="password" placeholder="Confirm Password" autocomplete="new-password">
        <button class="toggle" id="toggle-psk" type="button" onclick="toggle_password()" aria-label="Show password." hidden>Show password</button>

        <br />

        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <input type="hidden" class="ignored" name="success" value="Successfully Updated!">
        <input class="field submit left ignored" name="submit" type="submit" value="Save">
    </form>
</div>