<script src="/assets/script/form.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/style/form.css">

<script>
    async function confirm_deletion() {
        await send_xhr(
            '/auth/account',
            {
                _csrf: document.getElementsByName('_csrf').item(0).value,
                delete_account: 1,
            },
            function success() {
                notify("Successfully deleted account. Redirecting...");
                setTimeout(() => window.location = "/login", 1000);
            },
            function failure() {
                notify("An unknown error occurred, please try again later.");
            }
        );
        save_override = null;
    }

    async function delete_account() {
        await clear_notifications();
        const confirm = window.confirm("Are you sure you want to delete your account? This action is irreversible!");
        if (confirm) confirm_deletion();
    }
</script>

<div class="form container">
    <form javascript_action="/auth/account" method="post">
        <h1 class="left">Account Settings</h1>
        <section id="notifications" class="left"></section>

        <label for="email" hidden>Email Address</label>
        <input class="field left" name="email" placeholder="Email Address" type="email" autocomplete="email" value="{{email}}">

        <br />

        <label for="username" hidden>Username</label>
        <input class="field left" name="username" placeholder="Username" type="username" autocomplete="username" value="{{username}}">

        <br />

        <label for="new-password" hidden>New Password</label></td>
        <input class="field left" name="new-password" type="password" placeholder="New Password" autocomplete="new-password">
        <button class="toggle" type="button" onclick="toggle_password()" aria-label="Show password." hidden>Show password</button>

        <br />

        <label for="confirm-password" hidden>Confirm Password</label></td>
        <input class="field left ignored" name="confirm-password" type="password" placeholder="Confirm Password" autocomplete="new-password">
        <button class="toggle" type="button" onclick="toggle_password()" aria-label="Show password." hidden>Show password</button>

        <br />

        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <input type="hidden" class="ignored" name="success" value="Successfully Updated!">

        <div>
            <input class="field submit left ignored bottom" name="submit" type="submit" value="Save">
            <span class="right red url bottom" onclick="delete_account()">Delete Account</span>
        </div>
    </form>
</div>