<script src="/assets/script/form.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/style/form.css">

<div class="form container">
    <form javascript_action="/auth/forgot" method="post">
        <h1 class="left">Forgot Password</h1>
        <section id="notifications" class="left"></section>
        
        <p class="left">
            Forgot your password? If you have a valid email associated with your account, enter it here and we'll send you an email to sort it out.
        </p>

        <label for="email" hidden>Email</label>
        <input class="field left" name="email" placeholder="Email" type="email" autocomplete="email" required>

        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <input type="hidden" class="ignored" name="redirect" value="">
        <input type="hidden" class="ignored" name="success" value="Request sent!">

        <div class="end">
            <input class="field submit ignored" name="submit" type="submit" value="Send">
            <div class="fill"></div>
            <span class="green url" onclick="window.location='/login'">Back to Login</span>
        </div>
    </form>
</div>