<script src="/assets/script/register.js"></script>
<script src="/assets/script/form.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sjcl/1.0.8/sjcl.min.js" integrity="sha512-s0r9TyYSs5CusSDL5s/QEZQZ4DNYLDXx0S+imS+SHR9mw0Yd0Z5KNS9dw7levSp7GpjOZu/bndds3FEDrKd8dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<form action="#" method="post" id="register_form">
    <h1>Register</h1>
    
    <input type="hidden" id="register-csrf" name="_csrf" value="{{csrfToken}}">

    <section id="notifications">
    </section>

    <section>        
    <label for="username">Username</label>
    <input id="register-username" name="username" type="username" autocomplete="username" required>
    </section>
        
    <section>        
    <label for="password">Password</label>
    <input id="register-password" name="password" type="password" autocomplete="current-password" required>
    <button id="toggle-psk" type="button" onclick="toggle_password()" aria-label="Show password.">Show password</button>
    </section>

    <button type="submit" id="register">Register!</button>
</form>