/* Notification Styling */

.notification {
    border-radius: 0.2em;
    border-left: 5px solid white;
    padding: 4px;
    padding-left: 6px;
    
    animation: fadein 0.5s;

    opacity: 1;
    -webkit-transition: opacity 1000ms linear;
    transition: opacity 500ms linear;

    cursor: pointer;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.notification.error {
    background-color: red;
}

.notification.info {
    background-color: rgba(0, 200, 90, 10);
}

/* Form Styling */

/* Color Scheme
    Aqua Background: #00D4E0
    Aqua Foreground: #008C94
    Orange Background: #FF7519
    Orange Foreground: #E05800
    Maroon: #943B00
*/

body {
    background-color:#5CBAF2;
    font-family: sans-serif;
}

h1 {
    color: black;
}

.container {
    border-radius: 1em;
    padding: 1%;
}

.form.container {
    background-color: #6099FC;
    display: inline-block;

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    padding: 2%;
    width: 20rem;
}

.field {
    outline: none;
    font: inherit;
    background: none;

    width: 80%;
    border: 0.5px solid black;
    border-radius: 1em;

    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;

    color: white;
    background-color: #6099FC;

    text-align: left !important;
}

.field::placeholder {
    color: black;
    opacity: 70%;
}

.field.submit {
    padding: 3% !important;

    margin: auto;
    text-align: center !important;
    background-color: black;
    cursor: pointer;
    color: white;

    width: 30%;
}

.field.submit:hover {
    background-color: rgb(200, 200, 200);
}

.center {
    display: block;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.left {
    display: block;
    margin-left: 1.2rem;
    left: 0;
}