/* Notification Styling */

.notification {
    border-radius: 0.5em;
    border: 5px solid #4C82F0;
    padding: 4px;

    display: inline-block;
    
    animation: fadein 0.5s;

    opacity: 1;
    -webkit-transition: opacity 1000ms linear;
    transition: opacity 500ms linear;

    cursor: pointer;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.notification.error {
    border-color: red;
}

.notification.info {
    border-color: rgba(0, 200, 90, 10);
}

body {
    background-color: black;
    font-family: sans-serif;
}

.container {
    background-color: white;
    display: block;
    border: 5px solid #4C82F0;
    border-radius: 1em;
    color: inherit;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 4%;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        height: 100%;
        border: unset;
        padding: unset;
        border-radius: unset;
    }

    body {
        background-color: white;
    }
}

.field {
    outline: none;
    font: inherit;
    background: none;
    border: 5px solid #4C82F0;
    border-radius: 1em;
    padding: 3%;
    color: inherit;
    background-color: inherit;
    margin-bottom: 8%;
    margin-right: 5%;
    height: 1.2em;
    text-align: left;
}

.field::placeholder {
    color: inherit;
    opacity: 80%;
}

.field.submit {
    padding: 0;
    text-align: center;
    background-color: #4C82F0;
    border: none;
    cursor: pointer;
    color: white;
    margin-bottom: unset;
    height: 2em;
    width: 4em;
}

.field.submit:hover {
    background-color: #5C92FF;
}

.red {
    color: red;
}

.url {
    text-decoration: underline;
    cursor: pointer;
    padding-top: 3%;
}

.end {
    display: flex;
    vertical-align: middle;
    margin-bottom: 0.5em;
}

.end span {
    align-self: right;
}

.end .fill {
    flex-grow: 2;
}