<!DOCTYPE html>
<html>
    <head>
        <title>SSMP: Login</title>
        <link rel="stylesheet" type="text/css" href="/assets/style/theme.css">
        
    </head>
    <body>
        <noscript>Warning: This site will not function correctly without javascript enabled.</noscript>

        {{{body}}}
        
    </body>
</html>