<!DOCTYPE html>
<html>
    <head>
        <title>SSMP: Login</title>
        <link rel="stylesheet" type="text/css" href="/assets/style/theme.css">
        
    </head>
    <body>

        {{{body}}}
        
    </body>
    <